RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

IndexIgnore * # prevent directory listing

Order deny,allow
Allow from *

# ------------------------------------------
# Rewrite so that php extentions are not shown


RewriteEngine on
RewriteRule ^/?$ /index.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/customers$ /admin/customers.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/suppliers$ /admin/suppliers.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/logout$ /admin/logout.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/invoices$ /admin/invoices.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/purchase$ /admin/invoicesP.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/profile$ /admin/profile.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/add/invoice$ /admin/addInvoice.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/add/purchase$ /admin/addInvoiceP.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/invoice/([0-9]+)/?$ /admin/invoice.php?inv_id=$1 [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/purchases/([0-9]+)/?$ /admin/invoiceP.php?inv_id=$1 [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/invoice$ /admin/invoice.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/purchases$ /admin/invoiceP.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/add/customer$ /admin/addCustomer.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/add/supplier$ /admin/addSupplier.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^register$ /includes/register.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/customer/([0-9]+)/?$ /admin/editCustomer.php?id=$1 [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/supplier/([0-9]+)/?$ /admin/editSupplier.php?id=$1 [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/edit/invoice/([0-9]+)/?$ /admin/editInvoice.php?id=$1 [NC,L,QSA]

#API

#INVOICE
RewriteEngine On
RewriteRule ^api/invoices?$ api/invoice/invoices.php [NC,L]
RewriteRule ^api/invoices/([0-9]+)/?$ api/invoice/invoices.php?id=$1 [NC,L]

#CUSTOMER

RewriteRule ^api/customers?$ api/customer/customers.php [NC,L]
RewriteRule ^api/customers/([0-9]+)/?$ api/customer/customers.php?id=$1 [NC,L]

#LOGIN
RewriteEngine on
RewriteRule ^api/login api/user/login.php [NC,L,QSA]

#REGISTER
RewriteEngine on
RewriteRule ^api/register api/user/register.php [NC,L,QSA]

#RESOURCES

RewriteEngine On
RewriteRule ^api/resources api/resources/resources.php [NC,L]



