RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

IndexIgnore * # prevent directory listing

Order deny,allow
Allow from *

# ------------------------------------------
# Rewrite so that php extentions are not shown


RewriteEngine on
RewriteRule ^/?$ /index.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/customers$ /admin/customers.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/invoices$ /admin/invoices.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/profile$ /admin/profile.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/add/invoice$ /admin/addInvoice.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/invoice/([0-9]+)/?$ /admin/invoice.php?inv_id=$1 [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/invoice$ /admin/invoice.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/add/customer$ /admin/addCustomer.php [NC,L,QSA]

RewriteEngine on
RewriteRule ^admin/customer/([0-9]+)/?$ /admin/editCustomer.php?id=$1 [NC,L,QSA]

#API
RewriteEngine On
RewriteRule ^api/invoices?$ api/invoice/invoices.php [NC,L]
RewriteRule ^api/invoices/([0-9]+)/?$ api/invoice/invoices.php?id=$1 [NC,L]

RewriteEngine on
RewriteRule ^api/login api/user/login.php [NC,L,QSA]

